<h1>Skill Inventory Palooza!</h1>

<button class="btn-default add_space"><a href='/skills'>Skillz Index</a></button>
<button class="btn-default add_space"><a href='/skills/new'>New skill </a></button>
